
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  background: #a6a6a6;
  text-align: center;
  padding: 5px 10px;
}

.content {
  padding: 10px;
  border-style: dashed;
  border-color: #a6a6a6;
  border-width: 0 1px 1px 1px;
  flex-grow: 1;
}
