
.summary {
  margin: 10px;
  display: flex;
  gap: 10px;

  .bloc {
    flex-grow: 1;
    background: #d2d2d2;
    max-width: 33%;
  }

  .bloc-content {
    margin: 10px;
  }

  .expiration-date {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.log {
  margin: 10px;
}
