
<div class="page">
  <h1>Admin account</h1>
  <div class="hint">
    Create an account on this server to configure more services
  </div>

  <form (ngSubmit)="save()">
    <div class="mb-3">
      <label for="admin-username">Username *</label>
      <input [disabled]="loading" id="admin-username" name="username" class="form-control" [(ngModel)]="account.username" placeholder="homer" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="admin-name">Name</label>
      <input [disabled]="loading" id="admin-name" name="email" class="form-control" [(ngModel)]="account.name" placeholder="Homer Simpson" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="admin-name">Password *</label>
      <input [disabled]="loading" id="admin-password" type="password" name="password" class="form-control" [(ngModel)]="account.password" placeholder="********" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="admin-password-confirm">Password confirmation *</label>
      <input [disabled]="loading" id="admin-password-confirm" type="password" name="passwordConfirm" class="form-control" [(ngModel)]="passwordConfirm" placeholder="********">
    </div>
    <div class="mb-3 d-flex">
      <a [routerLink]="['../../']">cancel</a>
      <div class="flex-grow-1">{{error}}</div>
      <input type="submit" value="Save">
    </div>
  </form>
</div>
