<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete admin account</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <p>Delete admin account of <strong>{{options.user.username}}</strong> ?</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="save()">Delete</button>
</div>