<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{popupTitle}}</h4>
    <button [disabled]="loading" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="hint" *ngIf="showHint">
        If you have many certificates to create, try the <a (click)="modal.dismiss()" [routerLink]="['./import']">mass import</a> feature.
    </div>
    <bus-openvpn-certificate-form [certificate]="certificate" [loading]="loading"></bus-openvpn-certificate-form>
</div>
<div class="modal-footer flex-nowrap">
    <div class="error">{{error}}</div>
    <button [disabled]="loading" type="button" class="btn btn-outline-dark" (click)="save()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Save</span>
    </button>
</div>
