<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create certificate</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="create-certificate-username">Common Name</label>
            <p><input id="create-certificate-username" name="username" class="form-control" [(ngModel)]="username"></p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>