<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit '{{certificate.username}}' certificate</h4>
    <button [disabled]="loading" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="fixed-ip">Fixed IP</label>
            <div class="input-group">
                <input [disabled]="loading" id="fixed-ip" class="form-control" name="staticAddress" [(ngModel)]="model.clientAddress">
            </div>
            <div class="routes">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="4">Networks the client should know about :</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <th>Mask</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        <tr *ngFor="let route of model.customRoutes; let index = index">
                            <td><input [disabled]="loading" class="form-control" name="address-{{index}}-pushroute" [(ngModel)]="route.address" /></td>
                            <td><input [disabled]="loading" class="form-control" name="netmask-{{index}}-pushroute" [(ngModel)]="route.netmask" /></td>
                            <td><input [disabled]="loading" class="form-control" name="description-{{index}}-pushroute" [(ngModel)]="route.description" /></td>
                            <td class="actions">
                                <button [disabled]="loading" class="btn btn-warning btn-sm" (click)="removePushRoute(route)">remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input [disabled]="loading" class="form-control" name="address-new-pushroute" [(ngModel)]="newPushRoute.address"></td>
                            <td><input [disabled]="loading" class="form-control" name="netmask-new-pushroute" [(ngModel)]="newPushRoute.netmask"></td>
                            <td><input [disabled]="loading" class="form-control" name="description-new-pushroute" [(ngModel)]="newPushRoute.description"></td>
                            <td class="actions">
                                <button [disabled]="loading" class="btn btn-primary btn-sm" (click)="addPushRoute()">add</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="4">Networks the client have behind his router :</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <th>Mask</th>
                            <th>Description</th>
                            <th class="actions">Actions</th>
                        </tr>
                        <tr *ngFor="let route of model.customIRoutes; let index = index">
                            <td><input [disabled]="loading" class="form-control" name="address-{{index}}-iroute" [(ngModel)]="route.address" /></td>
                            <td><input [disabled]="loading" class="form-control" name="netmask-{{index}}-iroute" [(ngModel)]="route.netmask" /></td>
                            <td><input [disabled]="loading" class="form-control" name="description-{{index}}-iroute" [(ngModel)]="route.description" /></td>
                            <td class="actions">
                                <button [disabled]="loading" class="btn btn-warning btn-sm" (click)="removeIRoute(route)">remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input [disabled]="loading" class="form-control" name="address-new-iroute" [(ngModel)]="newIRoute.address"></td>
                            <td><input [disabled]="loading" class="form-control" name="netmask-new-iroute" [(ngModel)]="newIRoute.netmask"></td>
                            <td><input [disabled]="loading" class="form-control" name="description-new-iroute" [(ngModel)]="newIRoute.description"></td>
                            <td class="actions">
                                <button [disabled]="loading" class="btn btn-primary btn-sm" (click)="addIRoute()">add</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer flex-nowrap">
    <div class="error">{{error}}</div>
    <button [disabled]="loading" type="button" class="btn btn-outline-dark" (click)="save()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Save</span>
    </button>
</div>
