<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add package</h4>
  <button [disabled]="loading" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="name">package name</label>
      <input [disabled]="loading" id="name" name="name" class="form-control" [(ngModel)]="name" placeholder="mysql-server" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="version">version</label>
      <input [disabled]="loading" id="version" name="version" class="form-control" [(ngModel)]="version" placeholder="^5.6.1" autocomplete="off">
    </div>
    <div class="mb-3">
      <mat-checkbox
          name="autoUpdate"
          [color]="'primary'"
          [(ngModel)]="autoUpdate"
      >
        Auto update
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox
          name="saveToMaster"
          [color]="'primary'"
          [(ngModel)]="saveToMaster"
      >
        Save in "Wanted Packages"
      </mat-checkbox>
    </div>
  </form>
</div>
<div class="modal-footer flex-nowrap">
  <div class="error">{{error}}</div>
  <button [disabled]="loading" type="button" class="btn btn-outline-dark" (click)="save()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only">Save</span>
  </button>
</div>
