
:host {
  display: block;
  margin: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .title {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    mat-icon {
      //transform: scale(1.8);
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
    div {
      margin-left: 10px;
      font-size: 35px;
    }
  }
  .actions {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.client-link {
  color: #424242;
  text-decoration: none;
}

.cdk-column-actions {
  white-space: nowrap;
  width: 30px;
  text-align: right;
}

.cdk-column-expirationDate,
.cdk-column-revocationDate {
  white-space: nowrap;
}

.cdk-column-connections,
.cdk-column-accountStatus {
  text-align: center;
}

.btn-kill {
  border: none;
  background: none;
  margin: 0;
}
