<div class="header">
    <h1 class="title">
        <mat-icon class="material-icons-outlined">router</mat-icon>
        <div>Devices</div>
    </h1>
    <div class="actions">

        <button mat-icon-button (click)="createClientCertificate()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="toggleHideRevoked()">
                <mat-icon>{{hideRevoked? 'toggle_off': 'toggle_on'}}</mat-icon>
                <span>{{hideRevoked? 'Show': 'Hide'}} revoked</span>
            </button>
            <button mat-menu-item [routerLink]="['./settings']">
                <mat-icon>settings_input_antenna</mat-icon>
                <span>OpenVPN settings</span>
            </button>
            <button mat-menu-item [routerLink]="['./preferences']">
                <mat-icon>settings</mat-icon>
                <span>Admin preferences</span>
            </button>
            <button mat-menu-item [routerLink]="['./import']">
                <mat-icon>upload</mat-icon>
                <span>Upload CSV</span>
            </button>
            <button mat-menu-item (click)="buildCsv()">
                <mat-icon>download</mat-icon>
                <span>Download CSV</span>
            </button>
<!--            <button mat-menu-item (click)="listCrl()">-->
<!--                <mat-icon>download</mat-icon>-->
<!--                <span>List CRL</span>-->
<!--            </button>-->
            <button mat-menu-item [routerLink]="['./logs']">
                <mat-icon>receipt</mat-icon>
                <span>Logs</span>
            </button>
        </mat-menu>
    </div>
</div>
<bus-openvpn-warning-expires [config]="config"></bus-openvpn-warning-expires>

<!--<div>Websocket status: {{clients.status}}</div>-->

<!--[[[-->
<!--<mat-slider min="1" max="100" step="1" value="50"></mat-slider>-->
<!--]]]-->
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" style="width: 100%" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="username">Common&nbsp;Name</th>
        <td mat-cell *matCellDef="let element">

            <ng-template #identityTooltip>
                <ng-container *ngIf="!element.certificate.email && !element.certificate.country && !element.certificate.province && !element.certificate.city && !element.certificate.organisation && !element.certificate.organisationUnit">
                    No info
                </ng-container>
                <table>
                    <tr *ngIf="element.certificate.email"><td class="text-start pe-1" colspan="2">{{element.certificate.email}}</td></tr>
                    <tr *ngIf="element.certificate.email && (element.certificate.country || element.certificate.province || element.certificate.city || element.certificate.organisation || element.certificate.organisationUnit)"><td colspan="2"><hr class="my-1"></td></tr>
                    <tr *ngIf="element.certificate.country"><td class="pe-1">C</td><td class="text-start pe-1">{{element.certificate.country}}</td></tr>
                    <tr *ngIf="element.certificate.province"><td class="pe-1">ST</td><td class="text-start pe-1">{{element.certificate.province}}</td></tr>
                    <tr *ngIf="element.certificate.city"><td class="pe-1">L</td><td class="text-start pe-1">{{element.certificate.city}}</td></tr>
                    <tr *ngIf="element.certificate.organisation"><td class="pe-1">O</td><td class="text-start pe-1">{{element.certificate.organisation}}</td></tr>
                    <tr *ngIf="element.certificate.organisationUnit"><td class="pe-1">OU</td><td class="text-start pe-1">{{element.certificate.organisationUnit}}</td></tr>
                </table>
            </ng-template>

            <a class="client-link" [ngbTooltip]="identityTooltip" placement="end" [routerLink]="['./', 'config', element.username]">{{element.username}}</a>
        </td>
    </ng-container>
<!--    <ng-container matColumnDef="identity">-->
<!--        <th mat-header-cell *matHeaderCellDef mat-sort-header="identity">Identity</th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.identity}} </td>-->
<!--    </ng-container>-->
    <ng-container matColumnDef="accountStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="accountStatus">Account Status</th>
        <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
    </ng-container>
    <ng-container matColumnDef="connections">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="connections">Active Connections</th>
        <td mat-cell *matCellDef="let element" class="px-1 text-nowrap">
            <ng-container *ngIf="!element.connections.length">no</ng-container>
            <div *ngFor="let conn of element.connections" class="d-flex flex-row justify-content-center">
                <div>
                    <span ngbTooltip="Public IP">{{conn.realAddress.split(':')[0]}}</span>
                    /
                    <span ngbTooltip="Internal IP">{{conn.virtualAddress}}</span>
                </div>
                <div>
                    <button class="btn-kill" (click)="killConnection(element, conn)" [title]="'Kill connection '+conn.clientId">❌</button>
                </div>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="upload-download">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="upload-download">Received/Transmitted</th>
        <td mat-cell *matCellDef="let element" class="px-1 text-nowrap">
            <ng-container *ngIf="element.connections.length">
                <span ngbTooltip="Bytes received">{{sumBytesReceived(element.connections) | bytes}}</span>
                /
                <span ngbTooltip="Bytes sent">{{sumBytesSent(element.connections) | bytes}}</span>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="speed-upload-download">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="speed-upload-download">Speed (sec)</th>
        <td mat-cell *matCellDef="let element" class="px-1 text-nowrap">
            <ng-container *ngIf="element.connections.length && sumSpeedBytesReceived(element.connections) > minSpeedThreshold && sumSpeedBytesSent(element.connections) > minSpeedThreshold">
                <span ngbTooltip="Bytes received per second">{{sumSpeedBytesReceived(element.connections) | bytes}}</span>
                /
                <span ngbTooltip="Bytes sent per second">{{sumSpeedBytesSent(element.connections) | bytes}}</span>
            </ng-container>
        </td>
    </ng-container>
    <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="expirationDate">Expiration Date</th>
        <td mat-cell *matCellDef="let element" class="px-1">
            <div class="button btn btn-outline-danger btn-sm" *ngIf="element.certificate.expirationDate < now" title="Expired !!!" (click)="rotateClientCertificate(element)">
                {{element.certificate.expirationDate | date:'yyyy/MM/dd HH:mm:ss'}}
            </div>
            <div class="button btn btn-outline-warning btn-sm" *ngIf="element.certificate.expirationDate >= now && element.certificate.expirationDate < renewWarningDate" title="Expires soon" (click)="rotateClientCertificate(element)">
                {{element.certificate.expirationDate | date:'yyyy/MM/dd HH:mm:ss'}}
            </div>
            <div *ngIf="element.certificate.expirationDate >= renewWarningDate">
                {{element.certificate.expirationDate | date:'yyyy/MM/dd HH:mm:ss'}}
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="revocationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="revocationDate">Revocation Date</th>
        <td mat-cell *matCellDef="let element" class="px-1"> {{element.certificate.revocationDate | date:'yyyy/MM/dd HH:mm:ss'}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="actions">Actions</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [disabled]="element.certificate.revocationDate" (click)="downloadOpenvpnConfig(element)">
                <mat-icon>download</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item [disabled]="element.certificate.revocationDate" (click)="editClient(element)">
                    <mat-icon>settings_ethernet</mat-icon>
                    <span>edit routes</span>
                </button>
                <button mat-menu-item [disabled]="element.certificate.revocationDate" (click)="revokeClientCertificate(element)">
                    <mat-icon>cancel</mat-icon>
                    <span>revoke</span>
                </button>
                <button mat-menu-item *ngIf="element.certificate.revocationDate" (click)="unrevokeClientCertificate(element)">
                    <mat-icon>redo</mat-icon>
                    <span>unrevoke</span>
                </button>
                <button mat-menu-item *ngIf="element.certificate.revocationDate" (click)="deleteClientCertificate(element)">
                    <mat-icon>delete</mat-icon>
                    <span>delete</span>
                </button>
                <button mat-menu-item (click)="rotateClientCertificate(element)">
                    <mat-icon>autorenew</mat-icon>
                    <span>rotate</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
