<div>
    <a [routerLink]="['../']">&laquo; Certificates list</a>
</div>
<div class="d-flex flex-row">
    <h1 class="flex-grow-1">Settings</h1>
    <div></div>
</div>
<form (ngSubmit)="save()">
    <div class="form-group row mb-4">
        <div class="col-2">General</div>
        <div class="col-10">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" id="enable-ipv4" name="enableIpv4" [value]="true" [(ngModel)]="enableIpv4">
                <label class="form-check-label" for="enable-ipv4">
                    Enable IP v4
                </label>
            </div>
            <div class="form-group mb-2" *ngIf="enableIpv4">
                <label for="network-ipv4">
                    IP v4 Network
                </label>
                <input class="form-control" id="network-ipv4" name="network" aria-describedby="network" [(ngModel)]="model.server">
            </div>
            <div class="form-group">
                <input class="form-check-input" type="checkbox" id="enable-ipv6" name="enableIpv6" [value]="true" [(ngModel)]="enableIpv6">
                <label class="form-check-label" for="enable-ipv6">
                    Enable IP v6
                </label>
            </div>
            <div class="form-group mb-2" *ngIf="enableIpv6">
                <label for="network-ipv6">
                    IP v6 Network
                </label>
                <input class="form-control" id="network-ipv6" name="network-ipv6" aria-describedby="network-ipv6" [(ngModel)]="model.serverIpv6">
            </div>
        </div>
    </div>
    <div class="form-group row mb-4">
        <div class="col-2">Options</div>
        <div class="col-10">
            <div class="form-group mb-2">
                <input class="form-check-input" type="checkbox" value="" id="enable-compression" name="compLzo" [(ngModel)]="model.compLzo">
                <label class="form-check-label" for="enable-compression">
                    Enable compression
                </label>
            </div>
            <div class="form-group mb-2">
                <input class="form-check-input" type="checkbox" value="" id="duplicate-cn" name="duplicateCn" [(ngModel)]="model.duplicateCn">
                <label class="form-check-label" for="duplicate-cn">
                    Allow multiple connection per certificate
                </label>
            </div>
            <div class="form-group mb-2">
                <label for="auth">
                    Auth
                </label>
                <select class="form-control form-control" [(ngModel)]="model.auth" name="auth" id="auth">
                    <option [value]="null">None</option>
                    <option value="hmac">SHA1 (default)</option>
                    <option value="hmac">HMAC</option>
                    <option value="sha256">SHA256</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">Routes</div>
        <div class="col-10">
            <table>
                <tbody>
                <tr>
                    <td colspan="4">Networks behind the Openvpn server :</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <th>Mask</th>
                    <th>Description</th>
                    <th class="actions">Actions</th>
                </tr>
                <tr *ngFor="let route of model.routes; let index = index">
                    <td><input [disabled]="loading" class="form-control" name="address-{{index}}-route" [(ngModel)]="route.address" /></td>
                    <td><input [disabled]="loading" class="form-control" name="netmask-{{index}}-route" [(ngModel)]="route.netmask" /></td>
                    <td><input [disabled]="loading" class="form-control" name="description-{{index}}-route" [(ngModel)]="route.description" /></td>
                    <td class="actions">
                        <button [disabled]="loading" type="button" class="btn btn-warning btn-sm" (click)="removeRoute(route)">remove</button>
                    </td>
                </tr>
                <tr>
                    <td><input [disabled]="loading" class="form-control" name="address-new-route" [(ngModel)]="newRoute.address"></td>
                    <td><input [disabled]="loading" class="form-control" name="netmask-new-route" [(ngModel)]="newRoute.netmask"></td>
                    <td><input [disabled]="loading" class="form-control" name="description-new-route" [(ngModel)]="newRoute.description"></td>
                    <td class="actions">
                        <button [disabled]="loading" type="button" class="btn btn-primary btn-sm" (click)="addRoute()">add</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><hr></td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <th>Mask</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let push of model.pushs; let index = index">
                    <td><input [disabled]="loading" class="form-control" name="address-{{index}}-pushroute" [(ngModel)]="push.address" /></td>
                    <td><input [disabled]="loading" class="form-control" name="netmask-{{index}}-pushroute" [(ngModel)]="push.netmask" /></td>
                    <td><input [disabled]="loading" class="form-control" name="description-{{index}}-pushroute" [(ngModel)]="push.description" /></td>
                    <td class="actions">
                        <button [disabled]="loading" type="button" class="btn btn-warning btn-sm" (click)="removePush(push)">remove</button>
                    </td>
                </tr>
                <tr>
                    <td><input [disabled]="loading" class="form-control" name="address-new-pushroute" [(ngModel)]="newPush.address"></td>
                    <td><input [disabled]="loading" class="form-control" name="netmask-new-pushroute" [(ngModel)]="newPush.netmask"></td>
                    <td><input [disabled]="loading" class="form-control" name="description-new-pushroute" [(ngModel)]="newPush.description"></td>
                    <td class="actions">
                        <button [disabled]="loading" type="button" class="btn btn-primary btn-sm" (click)="addPush()">add</button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    <div class="button-wrapper">
        <div class="error">{{error}}</div>
        <button class="btn btn-primary" type="submit" [disabled]="loading || !hasPendingChanges()">Save</button>
    </div>
</form>