
:host {
  display: block;
  margin: 20px;
}

form {
  margin-bottom: 150px;
}

.button-wrapper {
  position: fixed;
  bottom: 0;
  background: #fff;
  display: block;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 15px rgb(0 0 0 / 11%);
  text-align: center;
  padding: 15px 0;
}

.setting-group {
  background: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
}
